# 設定檔
htdocs/config.php

# 建立測試用的檔案
test.php
htdocs/tests/

# KDE Dolphin自己產生的垃圾
*.directory
.*.kate-swp
.DS_Store
.*.swp


# GitEye產生的
.project

# phpdoc產生的檔案
docs/
docs/phpdoc-cache-*

# PHP Composer
composer.phar
vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
composer.lock

# Gem
Gemfile.lock
/nbproject/