# 不允許列出目錄
Options -Indexes

# ---------------------------------------------------------

# 網址改寫
RewriteEngine On

## For API
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (API|api)/v2/(.*)$ API/v2/index.php/$1 [L]
